.btn{
  font-size: var(--bs-body-font-size);
  background: #1e1e24;
}

.btn-primary {
    color: var(--bs-body-color) !important;
    background-color: #e9ebe5 !important;
    border-color: #cdcfca !important; /*set the color you want here*/
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.btn-primary:disabled, 
.btn-primary.disabled
.open > .dropdown-toggle.btn-primary {
    color: var(--bs-body-color) !important;
    background-color: #cdcfca !important;
    border-color: #b1b3ae !important; /*set the color you want here*/
}

.shiny-bound-input {
  font-size: var(--bs-body-font-size);
}

.form-group {
  margin-bottom: 0;
}

.form-select {
  
  &:focus {
    border-color: var(--endikau-blue-light);
  }
  
}

