.btn{
  font-size: var(--bs-body-font-size);
  background: #1e1e24;
}

.btn-primary {
    color: var(--bs-body-color);
    background-color: #e9ebe5;
    border-color: #cdcfca; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: var(--bs-body-color);
    background-color: #cdcfca;
    border-color: #b1b3ae; /*set the color you want here*/
}

.shiny-bound-input {
  font-size: var(--bs-body-font-size);
}

.form-group {
  margin-bottom: 0;
}

.form-select {
  
  &:focus {
    border-color: var(--endikau-blue-light);
  }
  
}

