.btn{
  font-size: var(--bs-body-font-size);
}

.shiny-bound-input {
  font-size: var(--bs-body-font-size);
}

.form-group {
  margin-bottom: 0;
}

.form-select {
  
  &:focus {
    border-color: var(--endikau-blue-light);
  }
  
}

