// Local docs variables
$endikau-blue: #0069b4;
$endikau-blue-light: #D9E5EC;
$endikau-accent: #ffe484;

$endikau-gutter-x: 3rem;

:root {
  --endikau-blue: #{$endikau-blue};
  --endikau-blue-light: #{$endikau-blue-light};
  --endikau-accent: #{$endikau-accent};
  --endikau-toc-color: var(--endikau-blue);
  --endikau-pre-bg: var(--bs-tertiary-bg);
}

