/*
p:first-of-type::first-letter {
  font-family: Georgia, serif;
  float: left;
  font-size: 7.125em;
  font-weight: bold;
  line-height: 0.65;
  margin: 0;
  padding: 0.05em 0.1em 0 0;
}

@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  p:first-of-type::first-letter {
    -webkit-initial-letter: 4;
    initial-letter: 4;
    // undo other bits
    float: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0 0.25em 0 0;
  }
}
*/

.nav-underline {
  --bs-nav-link-font-size: 1.5rem;
}

.bslib-card {
  .card-header, .card-footer {
    // font-size: 1.5rem;
    // background-color: #282c34;
  }
  .card-body {
    // font-size: 1.5rem;
    // background-color: #484d59;
    hyphens: auto;
  }
}

// .collapse-toggle {display: none !important;}

body {
  position: relative;
}

html, body {
  overflow-y: scroll;
	overflow-x: unset; /* or initial */
  height:100%;
}

html {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}



body {
  // background-color: $body-bg;
  // margin: 0;
  // flex: 0 1 auto;
  // align-self: auto;
  /* recommend 1920 / 1080 max based on usage stats, use 100% to that point */
  // width: 100%;
  // max-width: 1100px;
}

.block {
  display: block;
  width: 100%;
  border: none;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  text-align: center;
}

p {
  font-style: normal;
  padding: 0;
  margin-top: 0;
  margin-left: 0 ;
  margin-right: 0.5em ;
  margin-bottom: 0;
  text-indent: 1.5em;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  word-break:break-word;
  hyphens: auto;
}

.bslib-page-sidebar > .navbar {
  background-color: green;
  // color: var(--bslib-page-sidebar-title-color);
}

.navbar {
  .navbar-inner {
    background-color: #2c2c2c;
    background-image: none;
  }
}

.sen-pos-max{background: #009392;}
.sen-pos-med{background: #39b185;}
.sen-pos-min{background: #9ccb86;}
//.sen-neu{background: #f0f0f0;}
.sen-neu{background: #e9e29c;}
.sen-neg-min{background: #eeb479;}
.sen-neg-med{background: #e88471;}
.sen-neg-max{background: #cf597e;}
.sen-miss{color: #bababa}
.bubble{
    float: left;
    padding: 1.5px;
    border-radius: 0;
    position: relative;
    // font-size: 15px;
    // line-height: 17px;
}

.accordion-title {
  width: 100%;
}


.my-legend {
    .legend-title {
        text-align: left;
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 90%;
    }
    .legend-scale ul {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
    }
    .legend-scale ul li {
        display: block;
        float: left;
        width: 50px;
        margin-bottom: 6px;
        text-align: center;
        font-size: 80%;
        list-style: none;
    }
    ul.legend-labels li span {
        display: block;
        float: left;
        height: 15px;
        width: 50px;
    }
    .legend-source {
        font-size: 70%;
        color: #999;
        clear: both;
    }
    a {
        color: #777;
    }
}

.shiny-bound-input {
  font-size: var(--bs-body-font-size);
} /* form-control shiny-bound-input */

/*
.button-report  {
  @extend .button-basic;
  background-color: red;
}

.button-submit  {
  @extend .button-basic;
  background-color: green;
  color: white;
}
*/

body { display:flex; flex-direction:column; justify-content:center; min-height:100vh; }
