@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/mixins";

$enable-grid-classes: false;
$enable-cssgrid: true;

$font-family-base: "Open Sans", "Segoe UI", Roboto, "IBM Plex Sans", "Noto Sans", sans-serif;
$font-size-base: 1rem;

$body-bg: #fefffc;

@import "../vendor/bootstrap/scss/bootstrap";

@import "variables";
@import "text";
@import "toc";
@import "navbar";
@import "io";
@import "cards";
